UAC Behavior: S-E value in an active session refresh

It may be an editorial mistake.

Section 7.4 of RFC 4028 says:
(UAC Behavior/Generating Subsequent Session Refresh Requests)

In a session refresh request sent within a dialog with an active
session timer, the Session-Expires header field SHOULD be present.
When present, it SHOULD be equal to the maximum of the Min-SE header
field (recall that its default value when not present is 90 seconds)
and the current session interval.

SUGGESTION:

In a session refresh request sent within a dialog with an active
session timer, the Session-Expires header field SHOULD be present.
When present, it SHOULD be equal to the current session interval.

Suggested by: Shinji Okumura
E-mail: https://www.ietf.org/mail-archive/web/sipcore/current/msg09254.html

I agree with the suggested change. 

Related to this, if there is an ongoing INVITE transaction with S-E, the suggestion is that any UPDATE must contain the same S-E.