UAC behavior

BACKGROUND:

Section 7.3 of RFC 4028 says about a processing a 422 response
Section 7.4 of RFC 4028 says about a session refresh request within a established dialog and a retry of initial session refresh request due to 422 responses.

SUGGESTION:
We modify section 7.3 to explain a processing a 422 response and a retry of initial session refresh request due to 422 responses.
And we modify section 7.4 to explain a session refresh request within a established dialog.

-------------------------
7.3. Processing a 422 Response Before the dialog is established

If the response to a session refresh request is a 422 (Session Interval Too Small) response message, then the UAC MAY retry the request.

This new request constitutes a new transaction and SHOULD have the same value as the Call-ID, To, and From of the previous request, but the CSeq should contain a new sequence number that is one higher than the previous.

The values of Supported, Require, and Proxy-Require used in this new request MUST be equal to the values of the previous request.

A UAC MUST insert the Min-SE header field into this new request and the value of the Min-SE header field MUST be set to the largest value among all Min-SE header field values returned in all 422 responses for sequential INVITE requests with the same Call-ID.

The UAC may have its own opinions about the minimum session interval. In that case, the UAC MAY increase the value of the Min-SE header field.

In this request, the Session-Expires header SHOULD be present and it's value SHOULD be equal to the value of the Min-SE header field.

-------------------------
7.4. Generating Session Refresh Requests within a Established Dialog

The values of Supported, Require, and Proxy-Require used in the initial Session refresh request MUST be used.

The UAC SHOULD insert the Session-Expires header field, and it's value SHOULD be equal to the current session interval.

The UAC MAY insert the Min-SE header field into a session refresh request.

Once the dialog is established, the maximum value of the Min-SE is cleared and a UA may decide the Min-SE header field value without regard for the Min-SE header received previously.

If the UAC receives 422 response for a session refresh request, the behavior of UAC conforms to section 7.3.

(snipping)


7.4.  Generating Subsequent Session Refresh Requests
The UAC MUST insert the Min-SE header field into a session refresh request ...

SUGGESTION:
The explicit change is that
The UAC MAY insert the Min-SE header field into a session refresh request.
