Proxy allowed to increase Min-SE header field value

BACKGROUND:

Section 8.1 of RFC 4028 says:

   "A proxy MUST NOT insert a Min-SE header
   field or modify the value of an existing header field in a proxied
   request if that request contains a Supported header field with the
   value 'timer'. "

SUGGESTION:

Allow a proxy to insert a Min-SE header field, and to INCREASE the Min-SE header field value.

Suggested by: Shinji Okumura
E-mail: https://www.ietf.org/mail-archive/web/sipcore/current/msg09160.html

